* text=auto

.gitattributes text eol=lf

*.sln text eol=crlf
*.csproj text eol=crlf
*.cs text eol=crlf
*.xaml text eol=crlf
*.xml text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.aspx text eol=crlf
*.url text eol=crlf
*.settings text eol=crlf
*.config text eol=crlf
*.txt text eol=crlf
*.svg text eol=lf
*.sh text eol=lf
*.asc text eol=lf

