<?xml version="1.0"?>
<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<httpHandlers>
			<!-- Content handlers -->
			<remove verb="*" path="*.7z"/>
			<add verb="GET,HEAD" path="*.7z" type="System.Web.StaticFileHandler"/>
		</httpHandlers>
		<compilation debug="true"/></system.web>
</configuration>
