<?xml version="1.0"?>
<configuration>
  <!--
  Specify both .net-3.5 and .net-4.0 so that the app works out of the box on Windows8+
  which doesn’t ship with .net-3.5 preinstalled and older windows which don’t have .net-4.0
  installed. See https://stackoverflow.com/a/20865375.
  -->
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
